<div class = "page-header ">
  <h1> Check out some cool Giphy's!</h1>
  <!-- Button trigger modal -->
</div>

<%= render :partial => "gif_container" %>


  <!-- Modal -->
<div class="modal fade" id="new_giphy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Gif</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'gifs/gif_form'%>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'users/form' %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sign_in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'users/form_signin' %>
      </div>
    </div>
  </div>
</div>
