// Place all the styles related to the Gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
  padding:30px;
}

.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}

.page-header{
  text-align: center;
}

.navbar{
  padding-top:30px;

}

.signin{
  text-align: right;
}

.votes{
  text-align:center;
}

.voting{
  padding: 35px;
}
